*.o
*.mod
*.bat
*.pdf
*.exe
VA_contrasteACT/
VA_variandoRho/
VA_variandoV0/
paraEntregar/
Pruebas/
.ipynb_checkpoints/
Graficos a hacer.txt
__pycache__/
Crudos*
Acorr*
GraficadorVicsekPrueba.py
inBatch.txt
inBatchVec.txt
PruebaObjetosSimulaciones.py
VAvsV_variandoN/