*.o
*.mod
*.bat
*.exe
*.lnk
PyScripts/GraficadorVicsek.py
Pruebas/
VAvsV_variandoN/
paraEntregar/
Pruebas/
.ipynb_checkpoints/
Graficos a hacer.txt
__pycache__/
Crudos*
Acorr*
GraficadorVicsekPrueba.py
PruebaObjetosSimulaciones.py
VAvsV_variandoN/
Ginelli*.pdf
ChateGinelli2008.pdf